/*  your css code here. If applicable */
.main-Container{
	display:flex;
	flex-direction:column;
	border:1px solid gray;
}

body{
	display:flex;
	flex-direction:column;
	gap:26px;
		background-color:#f5f5f5;

}

#p1,#p2{
	margin-left:500px;
	font-style:italic;
}