/*  your css code here. If applicable */
.main-Container{
	display:flex;
	flex-direction:column;
	border:1px solid gray;
	background-color:white;
	 padding: 20px;
    margin: 10px 0; /* Adds space between testimonials */
    width: 80%; /* Adjust width as needed */
}

body{
	display:flex;
	flex-direction:column;
	gap:26px;
		background-color:#f5f5f5;

}

#p1,#p2{
	text-align:right;
	font-style:italic;
}