/*  your css code here. If applicable */
.main-Container{
	display:flex;
	flex-direction:column;
	border:1px solid gray;
	background-color:#f5f5f5;
}

body{
	display:flex;
	flex-direction:column;
	gap:26px;
}

#p1{
	margin-left:500px;
	font-style:italic;
}